.jumbotron {
	background-image: url("../img/banner.jpg");
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 20px;
}

.jumbotron h2 {
    font-family: 'Arial Black';
    font-size: 3.5em;
    font-weight: bold;
	color: white;
}

.jumbotron a {
    color: white;
    font-size: 1.2em;
    margin-right: 20px;
}

.alert {
    text-align: center;
	margin-top: 20px;
}

.alert p {
    text-align: center;
}

h2 {
    color: #191970;
}

p {
    text-align: justify;
    color: #191970;
}
