.jumbotron {
	background-image: url("../img/banner.jpg");
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 20px;
}

.jumbotron h2 {
    font-family: 'Arial Black';
    font-size: 3.5em;
    font-weight: bold;
	color: white;
}

.jumbotron a {
    color: white;
    font-size: 1.2em;
    margin-right: 20px;
}

.alert {
    text-align: center;
	margin-top: 20px;
}

.alert p {
    text-align: center;
}

.btn-big {
    width: 300px;
    height: 150px;
    font-size: 20px;
}

.field-validation-error {
  display: inline;
  line-height: 3;
  padding: .4em .6em .4em;
  font-size: 95%;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #d9534f;
}

.btn-header {
  margin-bottom: .2em;
  margin-left: -1em;
}

.btn-header-first {
    margin-bottom: .2em;
    margin-left: 4em;
}

.right-align {
    text-align: right;
}

.center-text {
    text-align: center;
}

.resize-vertical {
    resize: vertical;
}

h2 {
    color: #191970;
}

p {
    text-align: justify;
    color: #191970;
}

