<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <title th:text="#{headerPage.title}"></title>
</head>
<body>
    <div class="container">
        <div id="header" th:include="page :: header"></div>
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-5">
                <h2>Kontakt</h2>
                <h4>Przychodnia lekarska Medyk</h4>
                <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    31-226 Kraków, ul.Kwiatowa 96
                </p>
                <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    12 52 51 544
                </p>
                <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <a href="mailto:#">kontakt@przychodnia.com</a>
                    <br><br>
                </p>
            </div>
        </div>
    </div>
    <div id="footer" th:include="page :: footer"></div>
</body>
</html>