<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title th:text="#{headerPage.title}"></title>
</head>
<body>
    <div class="container">
        <div id="header" th:include="page :: header"></div>
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-5">
                <h2>Oferta</h2>
                <p>
                    Przychodnia działa od 2012 roku i oferuje pełną opiekę medyczną.
                    Część świadczeń realizowana jest w ramach podstawowej opieki zdrowotnej,
                    świadczymy także usługi w ramach specjalistycznych kosultacji lekarskich.
                    Placówka jest nagradzana w wielu konkursach i plebiscytach, posiada wyróżnienia
                    w kategorii zdrowia publicznego.
                </p>
                <h2>Zespół</h2>
                <p>
                    Podstawowy zespół przychodni obejmuje pacjentów całodobową opieką specjalisty
                    medycyny rodzinnej, pielęgniarki śodowiskowo-rodzinnej i położnej, a także lekarzy
                    wielu specjalności.
                </p>
                <p>
                    Pacjenci korzystający ze świadczeń naszej przychodni mają dostęp do całego spektrum
                    badań laboratoryjnych, badania pobierane są przez personel pielęgniarski, a wyniki badań dostępne są także drogą elektroniczną.
                    <br><br>
                </p>
            </div>
            <div class="col-xs-5">
                <img src="img/lekarz.jpg" alt="Lekarz" width="60%">
            </div>
            <div class="col-xs-1">
            </div>
        </div>
    </div>
    <div id="footer" th:include="page :: footer"></div>
</body>
</html>