<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">
    <title th:text="#{headerPage.title}"></title>
</head>
<body>
    <div th:fragment="header">
        <div class="jumbotron">
            <a href="?language=pl">🇵🇱</a><a href="?language=en">🇬🇧</a>
            <h2 th:text="#{headerPage.header}"></h2>
            <br><hr>
            <a th:href="@{/}" th:text="#{headerPage.link.glowna}"></a>
            <a th:href="@{/aktualnosci}" th:text="#{headerPage.link.aktualnosci}"></a>
            <a th:href="@{/oferta}" th:text="#{headerPage.link.oferta}"></a>
            <a th:href="@{/kontakt}" th:text="#{headerPage.link.kontakt}"></a>
            <a class="btn btn-primary btn-header-first" th:href="@{/login}" th:text="#{headerPage.link.zaloguj}" role="button"></a>
            <a class="btn btn-primary btn-header" th:href="@{/dashboard}" th:text="#{headerPage.link.dashboard}" role="button"></a>
            <a class="btn btn-primary btn-header" th:href="@{/logout}" th:text="#{headerPage.link.wyloguj}" role="button"></a>
        </div>
    </div>
    <div></div>
    <div th:fragment="footer" class="container footer">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <tbody>
                    <tr class="info">
                        <td  th:utext="#{footerPage.footer}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
































