<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/styles.css" th:href="@{/css/styles.css}" />
    <title th:text="#{headerPage.title}"></title>
</head>
<body>
    <div class="container">
        <div id="header" th:include="page :: header"></div>
        <div class="container">
            <h2>Wiadomości</h2>
            <hr class="my-4"/>
            <p class="lead">
                <a class="btn btn-primary" th:href="@{/wiadomosci/dodaj}" role="button"><i class="fa fa-plus-square"></i> Dodaj wiadomość</a>
            </p>
            <div th:if="${#lists.isEmpty(wiadomosci)}">Brak wiadomości.<p/></div>
            <div th:if="${not #lists.isEmpty(wiadomosci)}">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center" th:text="#{wiadomosciPage.id}"></th>
                            <th scope="col" style="text-align: center" th:text="#{wiadomosciPage.topic}"></th>
                            <th scope="col" style="text-align: center" th:text="#{wiadomosciPage.content}"></th>
                            <th scope="col" style="text-align: center" th:text="#{wiadomosciPage.created}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="wiadomosc: ${wiadomosci}">
                            <th scope="row" th:text="${wiadomosc.id}">Id</th>
                            <td th:text="${wiadomosc.temat}"></td>
                            <td th:text="${wiadomosc.tresc}"></td>
                            <td th:text="${#temporals.format(wiadomosc.dataUtworzenia, 'dd.MM.yyyy HH:mm')}" style="text-align: center">Data Utworzenia</td>
                            <td><a class="btn btn-default btn-sm" th:href="@{/wiadomosci/edytuj/__${wiadomosc.id}__}" role="button"><i class="fa fa-wrench"></i> Edytuj</a></td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#exampleModal">
                                    <i class="fa fa-trash"></i> Usuń
                                </button>
                                <!-- Modal -->
                                <div class="modal modal-warning fade in" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Czy na pewno usunąć wiadomość ?
                                            </div>
                                            <div class="modal-footer">
                                                <a role="button" class="btn btn-secondary" th:href="@{/wiadomosci/usun/__${wiadomosc.id}__}" th:text="#{wiadomosciPage.yes}"></a>
                                                <a role="button" class="btn btn-primary" data-dismiss="modal" th:text="#{wiadomosciPage.no}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
<div id="footer" th:include="page :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7//js/bootstrap.min.js"></script>
</body>
</html>
