<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <title th:text="#{headerPage.title}"></title>
</head>
<body>
<div class="container">
    <div id="header" th:include="page :: header"></div>
    <div class="container">
        <h2>Wiadomość</h2>
        <hr class="my-4"/>
        <form action="#" class="form-horizontal" th:action="@{/wiadomosci/dodaj}" th:object="${wiadomosc}" method="post">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{dataUtworzenia}" />
            <div class="form-group">
                <label for="temat" class="col-sm-2 control-label">Temat</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" th:field="*{temat}" placeholder="Temat wiadomości"/>
                    <div th:if="${#fields.hasErrors('temat')}">
                        <span th:errors="*{temat}" class="field-validation-error">Błąd tematu</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="tresc" class="col-sm-2 control-label">Treść</label>
                <div class="col-sm-9">
                    <textarea class="form-control"  th:field="*{tresc}" placeholder="Treść wiadomości" rows="3" style="resize: vertical"></textarea>
                    <div th:if="${#fields.hasErrors('tresc')}">
                        <span th:errors="*{tresc}" class="field-validation-error">Błąd treści</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Zapisz</button>
                    <button type="reset" class="btn btn-outline-primary"><i class="fa fa-undo"></i> Cofnij</button>
                    <button type="button" class="btn btn-outline-primary" onclick="window.history.go(-1);"><i class="fa fa-ban"></i> Anuluj</button>
                </div>
           </div>
        </form>
        <br>
    </div>
</div>
<div id="footer" th:include="page :: footer"></div>
</body>
</html>